<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OrdersMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.Orders">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
            <result property="businessId" column="business_id" jdbcType="INTEGER"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="DOUBLE"/>
            <result property="addressId" column="address_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,goods_id,
        business_id,num,user_id,
        price,address_id,status
    </sql>
</mapper>
